<h1> All request </h1>

<div>
  <h2>My requests</h2>
  <% @my_requests.each do |user_request| %>
    <div style="border: solid 1px; width: 200px; padding: 10px; allign-text: center; margin: 5px;">
      <h3><%= link_to user_request.publication.title, user_request_user_path(id: user_request.publication.user.id, user_request_id: user_request.id) %></h3>
      <%if user_request.status == 'pending'%>
        <p>Pending</p>

      <%elsif user_request.status == 'accepted'%>
        <p>Accepted</p>

      <%elsif user_request.status == 'rejected'%>
        <p>Rejected</p>
      <% end %>
    </div>
  <% end %>

  <h2>Recived requests</h2>
  <% @publication_requests.each do |user_request| %>
    <div style="border: solid 1px; width: 200px; padding: 10px; allign-text: center; margin: 5px;">
      <h3><%= link_to user_request.publication.title, user_request_user_path(id: user_request.user.id, user_request_id: user_request.id) %></h3>
      <%if user_request.status == 'pending' %>
        <%= link_to 'Aceptar', edit_user_request_path(id: user_request.id, status: 2, answered: true)%>
        <%= link_to 'Rechazar', edit_user_request_path(id: user_request.id, status: 1, answered: true)%>
      <% end %>
    </div>
  <% end %>
</div>

<div>
  <%= link_to 'Volver', root_path %>
</div>