<h2>User: <%= @user.full_name %></h2>

<div>
  <h3>Nombre</h3>
  <p><%= @user.name %></p>
</div>

<div>
  <h3>Apellido</h3>
  <p><%= @user.last_name %></p>
</div>

<div>
  <h3>Teléfono</h3>
  <p><%= @user.phone %></p>
</div>

<div>
  <h3>Email</h3>
  <p><%= @user.email %></p>
</div>