<!DOCTYPE html>
<html>
  <head>
    <title>Iic2143Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if current_user %>
      <%= link_to "Inicio", publications_path %>
      <%= link_to "Usuarios", users_path %>
      <%= link_to "Comentarios", comments_path %>
      <%= link_to "Perfil", user_path('me') %>
      <%= link_to 'Solicitudes', user_requests_path%>
      <%= link_to "Nueva Publicación", new_publication_path %>
      <%= link_to "Mesajes", messages_path %>
      <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Inicio", publications_path %>
      <%= link_to "Iniciar Sesión", new_user_session_path %>
      <%= link_to "Registrarme", new_user_registration_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
